.mainBkg {
  background-image: url("../../../public/assets/imgs/background.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.contentWrap {
  width: 50%;
  min-width: 420px;
  max-width: 936px;
  height: auto;
  display: flex;
  position: relative;
}

.leftWrap {
  width: 50%;
  height: auto;
  min-height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background-color: #252525;
  border-radius: 4px 0 0 4px;
}

.imgCont {
  width: 250px;
  min-width: 200px;
  margin-bottom: 20vh;

  img {
    width: 100%;
    height: auto;
  }
}

.hide {
  display: none;
  opacity: 0;
}

.show {
  display: block;
  opacity: 1;
}

.textHld {
  width: 72%;
  color: #fff;
  position: absolute;
  text-align: center;
  bottom: 13vh;
  left: 13%;
}

.rightWrap {
  position: relative;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  width: 50%;
  height: auto;
  min-height: 50vh;
  transition: all .25s ease-out;

  .topHld {
    margin: 0 auto;
    max-width: 400px;
    padding: 6vh 10% 4vh;
  }

  .actionTitle {
    text-align: center;
    margin-bottom: 2vh;

    img {
      width: 150px;
      max-width: 180px;
      height: auto;
    }

    .proText {
      margin-top: 1vh;
      -webkit-animation: TextOutAnimation .25s ease-out;
      animation: TextOutAnimation .25s ease-out;
      opacity: 1;

      .show {
        -webkit-animation: TextInAnimation .25s ease-out;
        animation: TextInAnimation .25s ease-out;
      }
    }
  }

  .btHld {
    padding: 2vh 8%;
    background-color: rgba(37,37,37,.9);
    border-radius: 0 0 4px 0;

    .innerNewText {
      -webkit-animation: TextOutAnimation .25s ease-out;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-gap: 15px;
      gap: 15px;
      animation: TextOutAnimation .25s ease-out;

      .show {
        -webkit-animation: TextInAnimation .25s ease-out;
        animation: TextInAnimation .25s ease-out;
        color: hsla(0,0%,100%,.87);
        font-size: 13px;

        span {
          -webkit-animation: TextInAnimation .25s ease-out;
          animation: TextInAnimation .25s ease-out;
          transition: all .4s ease-out;
          color: #4285f4;
          font-size: 14px;

          &:hover {
            cursor: pointer;
            color: #6ea2f8;
          }
        }
      }
    }
  }
}
