.signInForm {
  display: block;
  -webkit-animation: signInFormInAnimation .25s ease-out;
  animation: signInFormInAnimation .25s ease-out;

  .signInBtnGroup {
    display: flex;
    align-items: center;
    margin-top: 15px;

    .forgotPassword {
      cursor: pointer;
      margin-left: 20px;
      color: rgb(66, 133, 244);
    }
  }
}
